<!DOCTYPE html>
<html><head><link rel="stylesheet" href="/css/style.css"></head><body>
  <h1>Login</h1>
  <% if(error) { %><p class="error"><%= error %></p><% } %>
  <form method="post">
    <input name="reg_no" placeholder="Registration Number" required/>
    <input type="password" name="password" placeholder="Password"/><br/>
    <button type="submit">Login</button>
  </form>
</body></html>